<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- CSSファイルを追加 -->
    <link rel="stylesheet" href="/static/app.css">
    <!-- JSファイルを追加 -->
    <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
    <!-- 画像読み込みを追加 -->
    <h1>currycurator</h1>
    <img src="/static/logo.png">
   
    <table> 
    {% for ac in article: %}
    <tr><td>{{ ac[0] }}</td><td>{{ ac[1] }}</td></tr>
    {% endfor %}
    </table>
</body>
</html>


